.add-employee {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.add-employee-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.add-employee-form {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}


.select-fields {
    display: flex;
    gap: 1rem;
    margin-right: -15px;
}

.select-fields .input-container {
    flex: 1;
}

.input-select-fields{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-right: -15px;
    gap: 34px;
}
