.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
}

.grid-container-2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    margin-bottom: 100px;
}

.grid-container h3{
    margin: 0;
    color: #000;
    font-weight: 500;
}

.grid-container > div {
    padding: 20px;
}

.profile-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name-field-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-bottom: 10px;
}

.third-field-div{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 15px;
    margin-bottom: 10px;
}

.reporting-to{
    width: 100%;
}


