*{
  font-family: "Bahnschrift", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #888888 transparent;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column{
  flex-direction: column;
}