.map-view {
    padding: 20px;
}

.map-info-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.map-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.map-container p{
    margin-top: 5px;
    margin-bottom: 0;
}

.map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}

.edit-button{
    margin-top: 20px;
    margin-right: 20px;
}

.form-group{
    margin-right: 15px;
}

.grey-bg {
    background: rgba(198, 203, 212, 0.50);
    user-select: none;
    cursor: not-allowed;
    padding: 2px 10px;
    border-radius: 4px;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
}

b{
    font-weight: 500;
}