.header {
    padding: 10px 20px;
    background: #fff;
    color: black;
    font-size: 1rem;
    height: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 900; 

}
